/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

html {
  font-size: 65%;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS PGothic', sans-serif;
  font-size: 1.2rem;
  background: #fff;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
.global-header__logo {
  border-radius: 65px;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 130px;
  height: 130px;
}
.global-header__title {
  font-size: 4.4rem;
  text-align: center;
  margin: 20px 0 75px;
}
.container {
  margin: 0 auto;
  padding: 75px 15px 0;
  box-sizing: border-box;
}
.post {
  border-bottom: solid 1px #eee;
  margin: 40px 0 0;
}
.post--single {
  border-bottom: none;
}
.content p {
  font-size: 2.2rem;
  line-height: 1.5;
}
.post__time {
  font-size: 1.5rem;
  padding: 10px 0;
}
.post__title {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.4;
  padding: 0 0 20px;
}
.post__body {
  margin: 20px 0 0;
}
.other {
  margin: 80px 0 40px;
}
.other__title {
  font-size: 2.2rem;
  margin: 0 0 10px;
}
.global-footer {
  font-size: 1.2rem;
  text-align: center;
  height: 136px;
  line-height: 136px;
  background: #fafafa;
  margin: 80px 0 0;
}
@media screen and (min-width: 801px) {
  .container {
    width: 800px;
  }
}
